# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/

# Git
.git/
.gitignore

# OS files
.DS_Store
Thumbs.db

# Local env files
.env
.env.*

# IDEs
.idea/
.vscode/
